<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
  <%- include('./partials/navigation'); %>
  <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to the demo project</p>
    <p>Sing Up to make purchases.</p>
  </div>
  <%- include('./partials/footer'); %>
  </body>
</html>
