<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
    <%- include('./partials/navigation'); %>

    <div class="container">
        <div class="row align-items-start">
            <div class="col"></div>
            <form class="col" id="user-form" method="post" action="/users">
                <h2><%= title %></h2>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="passwordFeedback" required value="1q2w3e4r">
                    <div id="passwordFeedback" class="invalid-feedback">
                        Password is required.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="passwordConfirmation" class="form-label">Password confirmation</label>
                    <input type="password" class="form-control" id="passwordConfirm" aria-describedby="passwordConfirmFeedback" required value="1q2w3e4r">
                    <div id="passwordConfirmFeedback" class="invalid-feedback">
                        Password confirmation is required.
                    </div>
                </div>

                <div class="mb-3">
                    <button type="button" id="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="col" id="result"></div>
        </div>
    </div>

    <%- include('./partials/footer'); %>
    <script>
        function highlightFields({ password, passwordConfirm }) {
            document.getElementById('password').classList.toggle('is-invalid', !password)
            document.getElementById('passwordConfirm').classList.toggle('is-invalid', !passwordConfirm)
        }
        document.getElementById('submit').addEventListener('click', async () => {
            const password = document.getElementById('password').value;
            const passwordConfirm = document.getElementById('passwordConfirm').value;

            highlightFields({ password, passwordConfirm });
            if (!password || !passwordConfirm) {
                return;
            }
            const me = await fetch('/api/users/me');
            if (!me.ok) {
                window.location.replace('/auth/login');
            }
            const { data } = await me.json();

            const response = await fetch(`/api/users/${data.id}`, {
                method: 'POST',
                body: JSON.stringify({ password, passwordConfirm }),
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            const json = await response.json();
            if (json.errors) {
                json.errors.forEach(({ field, constraints }) => {
                    document.getElementById(field).classList.add('is-invalid');
                    document.getElementById(`${field}Feedback`).innerHTML = Object.values(constraints).join(', ');
                });
            } else {
                document.getElementById('result').innerHTML = 'Success'
            }
        });

    </script>
    </body>
</html>
