<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
  <%- include('./partials/navigation'); %>
  <div class="container"></div>
  <%- include('./partials/footer'); %>
  </body>
</html>
